body {
  display: flex;
  flex-direction: column;
  background: #95a3b4;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#title {
  display: flex;
  justify-content: center;
}

#description {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

#input {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#buttons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#apply {
  margin-right: 2.5px;
}

#reset {
  margin-left: 2.5px;
}

#text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

#line0 {
  display: flex;
  justify-content: center;
}

#line15 {
  display: flex;
  justify-content: right;
}
